{# TEMPLATE VAR SETTINGS #}
{%- set css_files = css_files + ['_static/css/normalize.css'] %}
{%- set css_files = css_files + ['_static/css/layout.css'] %}
{%- set css_files = css_files + ['_static/css/main.css'] %}
{%- set css_files = css_files + ['_static/css/custom.css'] %}
{%- set script_files = script_files + ['_static/js/main.js'] %}
{%- set script_files = script_files + ['_static/js/app.js'] %}
{%- set script_files = script_files + ['_static/js/affix.js'] %}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
  {%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
{%- else %}
  {%- set titlesuffix = "" %}
{%- endif %}

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" > <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ pathto('_static/img/apple-touch-icon-57x57.png', 1) }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ pathto('_static/img/apple-touch-icon-60x60.png', 1) }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ pathto('_static/img/apple-touch-icon-72x72.png', 1) }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ pathto('_static/img/apple-touch-icon-76x76.png', 1) }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ pathto('_static/img/apple-touch-icon-114x114.png', 1) }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ pathto('_static/img/apple-touch-icon-120x120.png', 1) }}">
    <link rel="icon" type="image/png" href="{{ pathto('_static/img/favicon-32x32.png', 1) }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ pathto('_static/img/favicon-96x96.png', 1) }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ pathto('_static/img/favicon-16x16.png', 1) }}" sizes="16x16">
    <link rel="manifest" href="{{ pathto('_static/manifest.json', 1) }}">
    <meta name="apple-mobile-web-app-title" content="Zephyr Project">
    <meta name="application-name" content="Zephyr Project">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {{ metatags }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {% block htmltitle %}
    <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
    {% endblock %}

    {# FAVICON #}
    {% if favicon %}
      <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
    {% endif %}

    {# CSS #}

    {# OPENSEARCH #}
    {% if not embedded %}
      {% if use_opensearch %}
        <link rel="search" type="application/opensearchdescription+xml" title="{% trans docstitle=docstitle|e %}Search within {{ docstitle }}{% endtrans %}" href="{{ pathto('_static/opensearch.xml', 1) }}"/>
      {% endif %}
    {% endif %}

    {# RTD hosts this file, so just load on non RTD builds #}
    {% if not READTHEDOCS %}
      <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" />
    {% endif %}

    {% for cssfile in css_files %}
      <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
    {% endfor %}

    {% for cssfile in extra_css_files %}
      <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
    {% endfor %}

    {%- block linktags %}
      {%- if hasdoc('about') %}
        <link rel="author" title="{{ _('About these documents') }}" href="{{ pathto('about') }}"/>
      {%- endif %}
      {%- if hasdoc('genindex') %}
        <link rel="index" title="{{ _('Index') }}" href="{{ pathto('genindex') }}"/>
      {%- endif %}
      {%- if hasdoc('search') %}
        <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}"/>
      {%- endif %}
      {%- if hasdoc('copyright') %}
        <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}"/>
      {%- endif %}
      <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}"/>
      {%- if parents %}
        <link rel="up" title="{{ parents[-1].title|striptags|e }}" href="{{ parents[-1].link|e }}"/>
      {%- endif %}
      {%- if next %}
        <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}"/>
      {%- endif %}
      {%- if prev %}
        <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}"/>
      {%- endif %}
    {%- endblock %}

    {%- block extrahead %} {% endblock %}

    {# Keep modernizr in head - http://modernizr.com/docs/#installing #}
    <script src="{{ pathto('_static/js/modernizr.min.js', 1) }}"></script>

  </head>

  <body class="not-front page-documentation one-sidebar sidebar-first" role="document" >
    <div id="page">
      {% include "header.html" %}
      <!-- STARTS #main -->
      <div id="main">
        <!-- STARTS .main-container -->
        <div class="main-container">
          {% include "breadcrumbs.html" %}
          <aside id="sidebar-first" class="container-sidebar">
            {# SIDE NAV, TOGGLES ON MOBILE #}
            {% include "sidebar.html" %}
          </aside>
          <!-- STARTS .content SECTION-->
          <section id="content" class="row">
            {# PAGE CONTENT #}
	    {% if is_release %}
	    <div class="wy-alert wy-alert-danger">
		    The <a href="/{{ pagename }}.html">latest development version</a>
		    of this page may be more current than this released {{ version }} version.
	    </div>
	    {% endif %}
            <div class="rst-content">
              <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
                <div itemprop="articleBody">
                  {% block body %}{% endblock %}
                </div>
              </div>
              <!-- {% include "navigation.html" %}  for ZEP-463 remove the prev/next links -->
            </div>
            <!-- ENDS #content SECTION -->
          </section>
          <!-- ENDS .content -->
        </div>
        <!-- ENDS .main-container -->
      </div>
      <!-- ENDS #main -->
      {% include "footer.html" %}
    </div>
    <!-- ENDS #page -->

  {% if not embedded %}

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'{{ url_root }}',
            VERSION:'{{ release|e }}',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'{{ '' if no_search_suffix else file_suffix }}',
            HAS_SOURCE:  {{ has_source|lower }},
            SOURCELINK_SUFFIX: '{{ sourcelink_suffix }}'
        };
    </script>
    {%- for scriptfile in script_files %}
      <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
    {%- endfor %}

  {% endif %}

  {%- block footer %} {% endblock %}

  </body>
</html>
